.diary-tile{
    display: flex;
    
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.diary-tile:hover{
    border:2px solid  rgb(72, 36, 129);
    border-top-right-radius:24px;
    border-bottom-right-radius: 24px;
}
.diary-tile div{
    cursor: pointer;
    padding-left: 5%;
    font-weight: bold;
    color: #585555;
}
.diary-tile div:hover{
    color:#666464;
    
}
.diary-tile button{
    margin-left: auto;
    border: none;
    background-color: inherit;
    color: rgb(72, 36, 129);
    padding-right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.diary-tile button:hover{
    color: rgb(89, 60, 136);
}
